.carrossel_container {
    width: 90%;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 5px 1px 100px #e5005a;
    background: linear-gradient(90deg, #e5005a 0%, #b800c9 50%, #8a00ff 100%);
}

.slider {
    width: 100%;
    margin: 0;
}

.carrossel_img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carrossel_img > img {
    width: 100%;
    height: auto;
    display: block;   
}