.carrossel_container {
    width: 90%;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 5px 1px 100px #e5005a;
    background: linear-gradient(90deg, #e5005a 0%, #b800c9 50%, #8a00ff 100%);
}

.slider {
    width: 100%;
    margin: 0;
}

.carrossel_img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carrossel_img > img {
    width: 100%;
    height: auto;
    display: block;   
}

/*
.carrossel_img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 0, 129, 0.1), rgba(255, 105, 180, 0.1));
    pointer-events: none;
    border-radius: 16px;
}*/
