/*.spotifyPlayer {
  border: 2px solid #ff008280;
  height: 154px;                 
  margin: 10px 10px 25px 10px;
  border-radius: 12px; 
  transform-origin: top left;
  /*overflow: hidden;          
}

.spotifyPlayer iframe { 
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 10px #ff008280;
}*/

/*estilo alternativo:*/

.spotifyPlayer{
    height: 83px;
    margin: 10px 10px 25px 10px;
    transform-origin: top left;
}
.spotifyPlayer iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 11px 11px #ff008280;
}
